body{

    font-family: "Montserrat", sans-serif;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

.container {

    max-width: 800px;
    background: #fff;
    padding: 30px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(252, 176, 69, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;


}

h1 {
    text-align: center;
    color: #333;
    font-weight: 800;
    margin-bottom: 20px;
}

input {


    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

ul {

    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li{
    width: 100%;
    padding: 10px;
    background: whitesmoke;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid #333;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#add-task {

    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

ul button {
background-color: #8E0E00;
}